@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {

    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    background-color: #a6f1a6;
    font-family: 'Fredoka One', cursive;

    /*cursor: none;*/
}
#lobby {
	
}
#game {
	display: none;
}
#gameover {
	display: none;
}
#loading {
	display: none;
}
.color{
	position: 
	color: blue;
}
.center{
	position:fixed;
    top: 50%;
    left: 50%;

}