@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html,body {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    background-color: #a6f1a6;
    font-family: 'Fredoka One', cursive;
    cursor: none;
}


#countdown {
    z-index: 1;
    width: 100%;
    font-size: 10em;
    position: absolute;
    text-align: center;
    top: 65%;
}
#countdown:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#lobby {
    display: none;
    font-size: 2em;
}
#lobby .title {
    width: 100%;
    font-size: 4em;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 0;
    text-shadow: 1px 1px 3px black;
}
#lobby .topleft {
    height: 80vh;
    width: 50%;
    float: left;
    text-align: center;
}
#lobby div .top {
    margin-top: 35%;
}
#lobby div .top img {
    height: 30vh;
}
#lobby .topright {
    height: 80vh;
    width: 50%;
    float: left;
    text-align: center;
}
#lobby .or {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
}
#lobby .bottom {
    height: 20vh;
    width: 100%;
    float: left;
    text-align: center;
}
#lobby .code {
    display: inline-block;
    border: 3px solid black;
    letter-spacing: 20px;
    margin-top: 20px;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
    font-size: 2em;
    background-color: #f9f2ef;
}
#lobby #queue {
    position: relative;
    top: 50%;
}

#game {
    display: none;
}
#game .title {
    z-index: 1;
    font-size: 3.5em;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-shadow: 1px 1px 3px black;
}
#game .connect {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#game .connect .code {
    text-align: center;
    display: inline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 10px;
    padding: 10px 5px 10px 10px;
    margin-top: 20px;
    margin-bottom: 0px;

    border: 3px solid black;
    border-radius: 10px;
    font-size: 2em;
    background-color: #f9f2ef;
}
#game .connect .or {
    line-height: 1.5em;
    font-size: 2em;
    text-align: center;
}
#game .connect .qr {
    width: 20vh;
}
#game #htmlGameBoard, #game #gameBoard {
    height: 100%;
    width: 100%;
    position: absolute;
}

#game #htmlGameBoard .quiz_countdown {
    text-align: right;
    font-size: 3em;
    position: absolute;
    top: 40%;
    width: 100%;
}
#game #htmlGameBoard .question_progress {
    display: inline;
    font-size: 3em;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: rotate(-15deg);
}
#game #htmlGameBoard .question {
    text-align: center;
    font-size: 5em;
    position: absolute;
    width: 100%;
    top: 35%;
}
#game #htmlGameBoard .answer {
    font-size: 5em;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
}
#game #htmlGameBoard .funfact {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#game #htmlGameBoard .score {
    text-align: center;
    position: absolute;
    top: 80%;
    width: 100%;
}
#game #htmlGameBoard .score .player {
    margin: 0% 5% 0% 5%;
    display: inline-block;
    font-size: 4em;
    width: 12vh;
    height: 12vh;
    line-height: 12vh;
    box-shadow: 1px 1px 5px black;
}

#loading {
    display: none;
}
#loading .loading_text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10vh;
    margin: 2vh;
}
#loading .loading_text .loading_symbol {
    height: 10vh;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
    margin-left: 2vh;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#gameover {
    display: none;
}
